.product-title {
    display: flex;
    width: 100%;
    height: .44rem;
    padding: 0 .15rem;
    background-color: #fff;
    border-top: 1px solid #eeee;
    font-weight: bold;
    color: #000;
    box-sizing: border-box;

}